/* Estilos gerais */
nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 10%;
    width: 100%;
    display: flex;
    padding: 0 1rem;
    flex-direction: row;
    background-color: #ffa2834d;
    justify-content: space-between;
    align-items: center;
    color: var(--color_branco);
    font-family: var(--font_kadwa);
    z-index: 1000; /* Garantir que a nav fique acima de outros elementos */
    box-sizing: border-box;
}

.links_menu {
    display: flex;
    align-items: center;
    right: 2%;
    opacity: 1;
}

.links_menu ul {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-style: normal;
}

.links_menu li {
    margin-top: 0;
    text-align: center;
    font-size: 16px;
    padding-right: 2rem;
}

.links_menu ul a {
    text-decoration: none;
    color: var(--color_branco);
    padding: 0.3rem;
    border-bottom: 4px solid transparent;
    transition: all 0.3s ease-in-out; /* Adiciona uma transição suave */
}

.links_menu ul a:hover {
    text-shadow: 1px 1px 7px #464242a2;
    border-color: var(--laranja);
    color: var(--laranja);
}

.cmp_pesquisa input {
    background: none;
    border: none;
    width: 50%;
    outline: none;
    padding: 8px;
    font-size: 16px;
}

.cmp_pesquisa {
    display: flex;
    border-radius: 3rem;
    background-color: var(--color_branco);
    color: rgb(63, 62, 62);
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 3rem;
}

/* Estilos para o botão de menu */
.menu-btn {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    color: var(--color_branco);
    cursor: pointer;
    margin-right: 1rem; /* Adiciona um espaço à direita */
}

/* Estilos para telas menores */
@media screen and (max-width: 800px) {
    nav{
        z-index: 100;
    }
    .menu-btn {
        display: block;
    }
    
    .links_menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%; /* Ajuste para ficar abaixo da nav */
        left: 0;
        width: 100%;
        border-radius: 0 0 2rem 2rem;
        background-color: var(--vermelho);
        align-items: center; /* Centraliza os itens do menu */
        opacity: 0;
        transform: translateY(-20px); /* Esconde o menu fora da tela */
        transition: all 0.3s ease-in-out; /* Adiciona uma transição suave */
    }

    .links_menu.show {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 1;
        transform: translateY(0); /* Mostra o menu na posição correta */
    }
    
    .links_menu ul {
        flex-direction: column;
        width: 100%; /* Garante que os itens preencham a largura do menu */
        padding: 0;
        align-items: center; /* Centraliza os itens do menu */
    }

    .links_menu li {
        padding: 1rem;
        text-align: center; /* Centraliza o texto dos itens do menu */
        width: 100%; /* Garante que os itens preencham a largura do menu */
    }

    .cmp_pesquisa {
        width: 70%; /* Ajusta a largura do campo de pesquisa em telas menores */
        margin: 0.5rem 0; /* Espaçamento vertical entre os itens do menu */
        padding: 0.5rem; /* Ajuste de padding para melhorar a usabilidade */
        justify-content: center; /* Centraliza o conteúdo do campo de pesquisa */
    }
    
    nav li, nav input[type], nav p {
        font-size: 14px; /* Ajusta o tamanho da fonte dos itens do menu */
    }
    
    h3 {
        font-size: medium;
    }
}

/* Animação de transição para o menu */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-50%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slideOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-120%);
    }
}

/* Aplicando a animação quando o menu é mostrado */
.links_menu.show {
    animation: slideIn 1.2s forwards;
}
.links_menu.hide {
    display: flex; /* Mantém o display flexível para animação */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
     /* Esconde o menu fora da tela */
    animation: slideOut 2s forwards; /* Aplica a animação de slideOut */
}
